
@media screen and (max-width: 900px) {
    main {
        display: flex;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3, h4 {
        font-size: smaller;
    }

    header,
    footer {
        border-style: double;
        border-radius: 12px;
        border-width: 2px;
    }    

    nav ul { display: flex; }
    nav ul li { flex: 1 1 auto; } 

}