@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&display=swap" rel="stylesheet">');

@media(max-width: 799px) {
	/*Body  */
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		font-family: 'Nanum Gothic', sans-serif;
		background-color:  #e4d9c4;
		padding: 0;
		margin: 0;
	}

	main, footer, header, nav {
        max-width : 800px;
        font-family: 'Playfair Display', serif;
        display: flex;
        align-items: center ;
        text-align: center;
        justify-content: center;
		margin-left: auto;
        margin-right: auto;
        padding: 10px;
        box-shadow: 10px 8px 5px #555;
        border-radius: 10px;
	}

	header, footer { 
		background-color: #3ca9ed;
		display: flex;
		align-items: center;
		justify-content:space-between
	}
/* _______________________________________________________________________________________________________________________________ */

/* HEADER */
/* headerlogo */
	header .headerlogo {
		display: flex;
		flex-direction: row;
		cursor: pointer;
	}

	.headerlogo img {
		max-width: 20%;
		transition: all 1s;
	}

	.headerlogo img:hover {
		transform: scale(1.2);
	}
/* ______________________________________________________________________________________________________ */
/* social media icons */
	.iconscontainer {
		display:inline-flex;
		cursor: pointer;
	}

	header .social-media-logos{
		width: 200px;
		margin: 15px;
	}

	header .social-media-logos .logo{
		width: 50%;
		min-height: auto;
		transition: all 1s;
		margin-right: 20px;
		
	}
	header .social-media-logos img:hover{
		transform: scale(1.2);
	}

	.icons-box{
		padding: 10px;
	}
	
	.icons {
		display: inline;
		align-items: center;
		font-size: 50px !important;
		color:  #e4d9c4;
	}

	.fa-facebook:hover{
		color: #3C5A9B;
	}
	
	.fa-linkedin:hover{
		color: #3C5A9B;
	}

/* _________________________________________________________________________________________________________ */

/* Mobile Sized Navigation- Hamburger Nav */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

h1, p {margin: 0 2vw;}

nav button{
	justify-content: flex-end;
	align-items: flex-start;
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav { background-color: #e4d9c4;}

nav ul {
   list-style-type: none; 
   padding: 0;
   margin: 0;
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3) ;
	transition: all 1s;
	transform: scale(1.2);
}

nav ul {display: none;}
nav ul.open {display: block;}

/* We want the X not to appear on the side of the hamburger nav but be hidden */
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}


/* We want the Opposite, we want the X to appear when the hamburger nav opens */
#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* _________________________________________________________________________________________________________*/
	
/* HEADER DATE */
.date {
	background-color:#3ca9ed;
	color: white;
	text-align: center;
	margin-top: -60px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px 0px 10px 0px;
	}
/* ___________________________________________________________________________________________________________ */

/* MAIN */
h1, h2, ul{
	font-family: 'Playfair Display', serif; 
    font-size: 1.5rem;
    margin: 0.15rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

main{		
	background-color: #e4d9c4;
	margin: 10px;
}

.containers {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* .containers { 
	display: grid;
	grid-template-columns: (1fr, 1fr, 1fr);
	grid-template-rows: repeat(5, minmax(auto, 400px)); /* Creates 5 equal rows */


.box1, .box2, .box3, .box4, .box5, .box6 {
	 background-color:#e4d9c4;
	 border:5px solid gray;
	 margin: 10px;
	 padding: 10px;

}
  
  

 .fa-thermometer-half{
	font-size: 50px;
	transition: all 1s;
	}

	
 .fa-thermometer-half:hover {transform: scale(1.2);}

  .upside-weather{
	display: inline-block;
	padding: 30px;
  }


  .hero-button{
	position: absolute;
	bottom: 40px;
	right: 30px;
	background-color: #64e120a9;
	border: 1px solid #ffffff;
	border-radius: 4px;
	box-shadow: rgba(255, 255, 255, 0.1) 0 2px 4px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	outline: none;
	outline: 0;
	padding: 10px 25px;
	text-align: center;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	}

	.hero-button:hover {
	box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
	transform: translateY(-2px);
	}

p {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 1.25em;
	line-height: 1.35em;
	padding: 10px;
	color: #041558;
	margin-top:0;
}
/* _________________________________________________________________________________________ */

/* FOOTER */

	footer {
		display: flexbox;
		flex-direction: row;
		background-color: #3ca9ed;
        justify-content: center;
        line-height: 2.75em; 
    }

	footer .address img {
		display: flex;
		flex-direction: row;
		cursor: pointer;
		max-width: 20%;
		transition: all 1s;
		margin: 0px 0px 0px 20px;
	}

	.address img:hover {
		transform: scale(1.2);
	}


	.address, p{
		text-align: left;
		
	}



}