/* DESKTOP VIEW */ 

@media (min-width: 1201px) {

body {
	font-family: 'Nanum Gothic', sans-serif;
	background-color:  #e4d9c4;
	padding: 0;
	margin: 0;
}

header { 
	background-color:  #3ca9ed;
	justify-content: space-between;
	height: 250px;
	padding: 5px 10%;
}
	
#main_nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  	font-size: 1em;
}

#headerlogo{
	grid-column: 1/2;
	width: 80%;
	cursor: pointer;
	transition: all 1s;
}

#headerlogo img:hover {
		transform: scale(1.2);
}
  

#main_nav h1{
	grid-column: 2 / 3;
    font-family: "Playfair Display", serif;
}

#main_nav li{
	font-size: 20px;
	padding: 5px;
	list-style-type: none;
}

#facebook,  #linkedin{
	width: 80%;
	border-radius: 50%;
}

#facebook,  #linkedin a:hover {
	transition: all 1s;
	transform: scale(1.2);
}

.nav_style{
	font-family:"Playfair Display", serif;
	font-size: 2.5px;
	list-style-type: none; 
	text-decoration: none;
  }

nav ul li a:hover {
		background-color: rgba(0,0,0,0.3) ;
		color: #0e0f0e;
		transition: all 1s;
		transform: scale(1.2);
	}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

main img{
	width: 300px;
	height: 400px
}
/* Desktop Views ****************************/


}