@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&display=swap" rel="stylesheet');

body {
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
        
}


.banner {
    width: 100%;
    height: 250px;
    background-color: #f6b70a;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 2%;
    box-shadow: 5px 5px 5px #ccc, -5px -5px 5px #969084;
    padding: 10px;
}

  
.banner img {
  width: 160px;
  height: 240px;
  object-fit: contain;
 
}


  .banner h1 {
    font-size: 30px;
    font-weight: bold;
    padding: 0px 0px 0px 100px;
  }
  
  main {
    width: 100%;
    background-color: rgb(215, 213, 213);
    align-items: center; 
    justify-content: center; 
    border-radius: 2%;
    text-align: center; 
    box-shadow: 5px 5px 5px #ccc, -5px -5px 5px #969084;
  } 
  
  ul {
    text-align: left;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 20px;
  }

  footer {
    width: 100%;
    height: 100%;
    background-color: #f6b70a; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 2%;
    text-align: center; 
    box-shadow: 5px 5px 5px #ccc, -5px -5px 5px #969084;
  }

  footer p{
    text-align: center;
    padding: 10px;
    font-size: 1em;
  }
