@import url('https://fonts.googleapis.com/css2?family=Laila&family=Mallanna&family=Marck+Script&display=swap');


img {
    width:300px;
    height: 300px;
}

header {
    width : 800px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #3377aa;
    box-shadow: 10px 8px 5px #555;
}

main {
    display: grid;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
       padding: 10px;
}
    
p {
    font-family: 'Mallanna', Georgia, serif;
    font-size: 1.25em;
    line-height: 1.35em;
    padding: 10px;
    color: #070550;
    margin-top:0;
}
  
footer { 
    width : 800px;
    display: grid;
    background-color: #3377aa;
    align-items: center;
    justify-content: center;
    line-height: 2.75em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 8px 5px #555;
}
  