header {
    font-family: 'Playfair Display', serif;
    width : 800px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6b70a;
    box-shadow: 10px 8px 5px #555;
    border-radius: 10px;
}

img {
    width:200px;
    height: 300px;
    box-shadow: 0 0 30px #555;
    float: right;
    border-radius: 0 10px 0 0;
}

h1, h2 {
    font-family: 'Playfair Display', serif; 
    font-size: 1.5rem;
    margin: 0.15rem
}

ul {
    font-family: 'Playfair Display', serif;
}

main {
    max-width : 800px;
    display: grid;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(215, 213, 213);
    border-radius: 10px;
}
    
p {
    font-family: 'Playfair Display', serif;
    font-size: 1.25em;
    line-height: 1.35em;
    padding: 10px;
    color: #070550;
    margin-top:0;
}

  
footer { 
    font-family: 'Playfair Display', serif;
    width : 800px;
    display: grid;
    background-color: #f6b70a;
    align-items: center;
    justify-content: center;
    line-height: 2.75em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 8px 5px #555;
    border-radius: 10px;
}
  